/* Styles */
body {
  font: normal 16px/16px 'Prompt', monospace;
  color: rgba(255, 255, 255, .8);
  text-shadow: 0px 0px 5px #0d0;
}

.b-panel {
  padding: 15px;
  font-size: 1.1em;
  color: #fff;
  /* color: rgba(255, 255, 255, .7); */
  text-shadow: 0px 0px 5px #0d0;
}

.b-panel_right {
  float: right;
}

#g-game {
  font: normal 16px/16px 'Prompt', monospace;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  height: calc(100% - 48px);
  min-width: 320px;
  min-height: 240px;
}

.b-msgbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  display: none;
}

.b-scores {
  list-style: decimal outside;
  padding-left: 32px;
  color: rgba(255, 255, 255, .7);
  text-shadow: 0px 0px 5px #0d0;
}

.b-scores__input {
  padding: 4px;
  outline: 0;
}

.b-button {
  padding: 8px;
  margin: 16px 0;
  outline: 0;
  text-shadow: 0px 0px 5px #0d0;
}

.b-button:hover,
.b-button:focus {
  cursor: pointer;
  text-decoration: underline;
}

/* Modifiers */
.m-green {
  background: #010;
  /* color: #0F0; */
  color: rgba(255, 255, 255, .7);
  text-shadow: 0px 0px 5px #0d0;
}

.m-green .b-msgbox {
  background: #010;
}

.m-green .b-scores__input,
.m-green .b-button {
  font: normal 16px/16px 'Prompt', monospace;
  background: #010;
  /* color: #0F0; */
  color: rgba(255, 255, 255, .7);
  text-shadow: 0px 0px 5px #0d0;
  border: 1px solid rgb(85, 131, 85);
}

.m-blue {
  background: #001;
  color: #09F;
  text-shadow: 0px 0px 5px #09F;
}

.m-blue .b-msgbox {
  background: #001;
}

.m-blue .b-scores__input,
.m-blue .b-button {
  font: normal 16px/16px 'Prompt', monospace;
  background: #001;
  color: #09F;
  text-shadow: 0px 0px 5px #09F;
  border: 1px solid #09F;
}

.m-red {
  background: #100;
  color: #F00;
  text-shadow: 0px 0px 5px #F00;
}

.m-red .b-msgbox {
  background: #100;
}

.m-red .b-scores__input,
.m-red .b-button {
  font: normal 16px/16px 'Prompt', monospace;
  background: #100;
  color: #F00;
  text-shadow: 0px 0px 5px #F00;
  border: 1px solid #F00;
}


.joyLeft {
  width: 110px;
  height: 110px;
  position: fixed;
  bottom: 100px;
  left: 50px;
}

.joyRight {
  width: 110px;
  height: 110px;
  position: fixed;
  bottom: 100px;
  right: 50px;
}

.base-on {
  font-size: 12px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: rgba(255, 255, 255, .55);
  text-shadow: 0px 0px 5px #0d0;
}

.base-on a {
  margin-left: 10px;
  /* color: #effaf6; */
  color: rgba(255, 255, 255, .7);
  text-decoration: none;
}