.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    content: none;
}

.nav-link {
    font-size: 1.15rem;
}

.nav-text {
    color: #fff;
}

/* .navbar-text::after {
    box-sizing: border-box;
}

.navbar-text::before {
    box-sizing: border-box;
} */

/* .dropdown-item {
    font-size: 1em;
    margin-top: 5px;
} */