#score-board {
    font-family: "Voltaire", sans-serif;
}

#leaderboard {
    position: absolute;
    top: 25%;

    width: 100%;
    color: #005B41;
    font-size: 1.2rem;
    font-family: Prompt;
}

#leaderboard .score-board-action {
    text-align: center;
}

#leaderboard .title {
    margin-left: 25%;
}

#leaderboard .b-scores {

    text-transform: none;
    height: 200px;
    min-height: 110px;
    font-size: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    left: -50%;
}

#top3 {
    position: absolute;
    font-family: Voltaire;
    letter-spacing: 2px;
    color: #b9630d;
    right: -45px;
    top: 20px;
    transform: translate(-50%, 0%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: end;
}

#top3-list {
    font-size: 0.8em;
    margin-top: 5px;
    text-align: start;
    font-family: Prompt;
}

.top3-item {
    margin-bottom: 3px;
    color: #ca6702;
    margin-top: 5px;
}

.b-scores .row {
    display: flex;
    justify-content: space-between;
}

.b-scores .col {
    flex: 1;

}


.b-scores .underline {
    border-bottom: 1px solid #97c2b2;
}

.b-scores .text-start {
    text-align: start;
    margin-top: 10px;
    margin-bottom: 2.5px;
    margin-left: 25px;
    color: #54ad76;
    font-family: Prompt;
}

.b-scores .text-end {
    text-align: end;
    margin-top: 10px;
    margin-bottom: 2.5px;
    margin-right: 25px;
    color: #54ad76;
    font-family: Prompt;
}

.input {
    border: 2px solid transparent;
    width: 9em;
    height: 1.6em;
    padding-left: 0.8em;
    /* padding-top: 0px; */
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 0.25rem;
    transition: all 0.25s;
    font-size: 1.2rem;
    font-family: Prompt;
    letter-spacing: 1px;
}

.input:hover,
.input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

.button {
    color: white;
    background-color: #5b9cda;
    height: 1.8em;
    font-weight: 500;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border: none;
    font-family: Prompt;
}

.button:hover,
.button:focus {
    transition: all 0.25s;
    background-color: #1c5d9b;

    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
}