* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 12px;
    background-image: linear-gradient(to right bottom, #a9347e, #4b32a7);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
    color: #fff;

}

.codepenio a {
    color: #d9a9df;
}

.dropdown a p {
    text-align: end;
    margin: 0;
    font-size: 1.2em;
    font-family: 'Share Tech Mono', monospace;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.dropdown:hover .my-dropdown-menu {
    display: block;
    /* position: fixed; */
    right: 0;
    margin-top: 40px;
    opacity: 1;
}

.loading-text {
    font-size: 1.2em;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Prompt', sans-serif;
}

.xlink {
    color: #d2cee4;
    background-color: transparent;
    position: fixed;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    letter-spacing: 0.2px;
    font-weight: 400;
    line-height: 1.5;
}

.xlink a {
    margin-left: 10;
    margin-right: 10;
    color: #d2cee4;
    width: fit-content;
    display: inline;
}

.xlink a:hover {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.my-dropdown-menu {
    color: #d2cee4;
    background-color: transparent;
    border: none;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.mydropdown {
    /* font-family: Prompt; */
    position: fixed;
    right: 0;
    color: #d2cee4;
    border: none;
    margin: 20px;
    /* background-color: #098324; */
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.mydropdown:hover {
    /* position: fixed; */
    right: 0;
    color: #fff;
    border: none;
    text-decoration: none;
    /* background-color: #098324; */
}

.dropdown-item {
    color: #d9a9df;
    border: none;
    margin-right: 20px;

}

.dropdown-item:hover {
    color: #fff;
    background-color: transparent;
    /* font-size: 1.02em; */
}