@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

#container {
    left: -1px;
    top: -1px;
    position: absolute;
    /* background-color: #dbe6e6; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.menu--off {
    left: -50%;
    width: 50%;
}

.menu--on {
    left: 0;
}

.menu--off div {
    margin: 5px;
}

.hide {
    display: none;
}

#markdown-output {
    position: absolute;
    top: 60px;
    margin-top: 60px;
    margin-left: 90px;
    font-size: 2rem;
    font-family: 'Sarabun';

}

#markdown-output ul {
    margin: 0;
    font-style: italic;
}

#markdown-output ul li::marker {
    content: '> ';
    color: rgb(172, 167, 167);
}

#markdown-output h1,
#markdown-output h2,
#markdown-output h3,
#markdown-output h4,
#markdown-output h5,
#markdown-output h6 {
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: underline;
}

.countdown-panel {
    margin-top: 200px;
    z-index: 1;
    text-align: center;
}

.countdown-panel button {
    cursor: pointer;
    color: white;
    background-color: #5b9cda;
    height: 2em;
    font-weight: 500;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border: none;
    font-family: Prompt;
}

.countdown-panel button:hover,
.countdown-panel button:focus {
    transition: all 0.25s;
    background-color: #1c5d9b;

    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
}

.countdown-panel input {
    border: 2px solid transparent;
    width: 9em;
    height: 1.6em;
    text-align: end;
    padding-left: 0.5em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 0.25rem;
    transition: all 0.25s;
    font-size: 1.2rem;
    font-family: Prompt;
    letter-spacing: 1px;
}

.countdown-panel input:hover,
.countdown-panel input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

.countdown-text {
    position: absolute;
    top: 25%;
    right: 60px;
    text-align: right;
}

.countdown {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
}

.label {
    position: absolute;
    font-family: 'Prompt';
    font-weight: 700;
    font-size: 3em;
    margin-top: 10px;
    margin-left: 20px;
}

.timeleft-label {
    position: absolute;
    right: 20px;
    text-transform: uppercase;
    opacity: 0.9;
    color: #ffd000;
    font-family: 'Prompt';
    font-size: 1.5em;
}

.sub-label {
    position: absolute;
    right: 20px;
    font-family: 'Prompt';
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: 0.7;
    color: #ffd000;
}

div p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.countdown li {
    color: #ffd000;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    list-style-type: none;
    text-transform: uppercase;
}

.countdown li span {
    display: block;
    font-size: 9rem;
    font-weight: 500;
    width: 200px;
    letter-spacing: -5px;
}


#credits {
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: 0;
    margin-bottom: 20px;
    font-family: "Voltaire", sans-serif;
    color: #886f50;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 1px;
}

#credits a {
    padding-left: 5px;
    padding-right: 5px;
    color: #886f50;
    text-decoration: none;
}

#credits a:hover {
    color: #dc5f45;
    text-decoration: underline;
}

#ClockDisplay {
    position: absolute;
    display: inline-block;
    left: 25px;
    top: 75px;
    font-family: 'Prompt';
    font-size: 1.2em;
    letter-spacing: 0.5px;
    opacity: 1;
}

.clock-time {
    text-align: center;
    display: inline-block;
    width: 27px;
    /* background-color: #F3F3F3; */
}