.audio {
    position: absolute;
    margin-left: 80px;
    margin-top: 23px;
    display: flex;
    transition-duration: 0.25ms;
}

.audio-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    mask-repeat: no-repeat;
    background-color: #457b9d;
    -webkit-mask-image: url('./../../src/images/audio-on.svg');
    mask-image: url('./../../src/images/audio-on.svg');
    transition: transform 0.2s;
    transform: rotateX(0deg) rotateZ(0deg);

    opacity: 0.7;
}

.audio-icon.on {
    background-color: #00A77D;
    -webkit-mask-image: url('./../../src/images/audio-off.svg');
    mask-image: url('./../../src/images/audio-off.svg');
}

.audio-icon.on:hover,
.audio-icon:hover {
    margin-top: -5px;
    background-color: #dc5f45;
    transform: rotateX(0deg) rotateZ(-90deg);
}