#fullscreen {
    position: absolute;
    margin-left: 135px;
    margin-top: 25px;
    display: flex;
}

.fullscreen-icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    transform: rotateX(0deg) translateY(0);
    background-color: #00A77D;
    -webkit-mask-image: url('./../../src/images/screen-minimize.svg');
    mask-image: url('./../../src/images/screen-minimize.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: transform 0.2s;
    opacity: 0.7;
}

.fullscreen-icon.maximize:hover,
.fullscreen-icon:hover {
    background-color: #dc5f45;
    transform: rotateX(0deg) rotateZ(-90deg);
}

.fullscreen-icon.maximize {
    background-color: #457b9d;
    -webkit-mask-image: url('./../../src/images/screen-maximize.svg');
    mask-image: url('./../../src/images/screen-maximize.svg');
    transition: transform 0.2s;
}