textarea {
  background: none;
  border: 0;
  height: 100vh;
  margin: 0;
  padding: 0em;
  width: 100%;
}

/* vendor/codemirror.css */

.CodeMirror {
  height: 98vh;
  font-size: 1.7em;
  background-color: rgb(181, 197, 197);
}

.CodeMirror-readonly .CodeMirror-cursor {
  display: none;
}