#world {
  left: -1px;
  top: -1px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dbe6e6;
  overflow: hidden;
}

#gameoverInstructions {
  position: absolute;
  font-family: "Voltaire", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3.5em;
  letter-spacing: 5px;
  text-align: center;
  color: #db9468;
  opacity: 0;
  left: 50%;
  top: 14%;
  width: 100%;
  transform: translate(-50%, -100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 500ms ease-in-out;
}

#gameoverInstructions.show {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 500ms ease-in-out;
}

#dist {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label {
  position: relative;
  font-family: "Voltaire", sans-serif;
  text-transform: uppercase;
  color: #ac683e;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 5px;
}

#distValue {
  position: relative;
  text-transform: uppercase;
  color: #dc5f45;
  font-size: 40px;
  font-family: "Voltaire";
  text-align: center;
}

#credits {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 0;
  margin-bottom: 20px;
  font-family: "Voltaire", sans-serif;
  color: #544027;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#credits a {
  color: #544027;
}

#credits a:hover {
  color: #dc5f45;
}

#instructions {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: auto;
  margin-bottom: 50px;
  font-family: "Voltaire", sans-serif;
  color: #dc5f45;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lightInstructions {
  color: #5f9042;
}

#start-game {
  position: absolute;
  left: calc(50% - 100px);
  top: 52%;
  opacity: 0.8;
}

.Button {
  margin-bottom: 10px;
  perspective: 900px;

  &.Button--start {
    width: 200px;
    height: 60px;

    button {
      border-radius: 5px;
    }
  }

  &.Button--select {
    width: 60px;
    height: 60px;

    button {
      border-radius: 50%;
    }
  }
}

#start-game-btn {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  box-shadow: 0px 0px 0px #750014;
  background: radial-gradient(ellipse at center, #D60D2E 0%, #C20020 100%);
  transition: transform 0.15s, box-shadow 0.15s;
  transform: rotateX(0deg) translateY(0);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;

  &:hover {
    box-shadow: 0px 5px 0px #750014;
    border-radius: 8px;
    transform: rotateX(20deg) translateY(0);
  }

  &:hover:active {
    text-shadow: 0 0 4px #AD001D;
    box-shadow: 0 1px 0 #423847;
    background: radial-gradient(ellipse at center, #D60D2E 0%, #C20020 100%);
    transition: transform 0.2s, box-shadow 0.2s;
    transform: rotateX(90deg) translateY(4px);
  }

  span {
    position: relative;
    font-size: 27px;
    font-family: "Voltaire";
    letter-spacing: 4px;
    color: white;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
  }
}