#score-board {
    font-family: "Voltaire", sans-serif;
    color: #ca533b;
}

.hide-board {
    display: none;
}

#leaderboard {
    position: absolute;
    top: 23%;
    width: 100vw;
    font-size: 1.2rem;
    font-family: Prompt;
}

#leaderboard .board {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    background-color: rgba(60, 141, 216, 0.2);
    border-radius: 10px;
    padding-bottom: 20px;
}

#leaderboard .score-board-action {
    text-align: center;
}

#leaderboard .title {
    margin-left: 25%;
}

#leaderboard .b-scores {
    text-transform: none;
    height: 200px;
    min-height: 110px;
    font-size: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#top3 {
    position: absolute;
    font-family: Voltaire;
    letter-spacing: 2px;
    color: #b9630d;
    right: -45px;
    top: 20px;
    transform: translate(-50%, 0%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: end;
}

#top3-list {
    font-size: 0.8em;
    margin-top: 5px;
    text-align: start;
    font-family: Prompt;
}

.top3-item {
    margin-bottom: 3px;
    color: #ca6702;
    margin-top: 5px;
}

.b-scores .row {
    display: flex;
    justify-content: space-between;
}

.b-scores .col {
    flex: 1;
}


.b-scores .underline {
    border-bottom: 1px solid rgba(201, 97, 37, 0.4);
}

.b-scores .text-start {
    text-align: start;
    margin-top: 10px;
    margin-bottom: 2.5px;
    font-family: Prompt;
    margin-left: 10px;
}

.b-scores .text-end {
    text-align: end;
    margin-top: 10px;
    margin-bottom: 2.5px;
    font-family: Prompt;
    margin-right: 10px;
}

.input {
    border: 2px solid transparent;
    width: 9em;
    height: 1.6em;
    padding-left: 0.5em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 0.25rem;
    transition: all 0.25s;
    font-size: 1.2rem;
    font-family: Prompt;
    letter-spacing: 1px;
}

.input:hover,
.input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

.button {
    color: white;
    background-color: #5b9cda;
    height: 1.8em;
    font-weight: 500;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border: none;
    font-family: Prompt;
}

.button:hover,
.button:focus {
    transition: all 0.25s;
    background-color: #1c5d9b;

    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
}