.menu div {
    color: #208064;
    font-size: 1.2rem;
    padding-top: 5px;
}

.menu div:hover {
    color: #023b2b;
    transition: all 0.25s;
}

.menu div ul li {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 5px;
}

.menu div ul li:hover {
    transition: all 0.25s;
    background-color: rgb(55, 81, 57, 10%);
    /* border: 2px solid #4A9DEC; */
    box-shadow: 0px 0px 0px 7px rgb(55, 81, 57, 10%);
    border-radius: 0.1rem;
}

.menu div ul li a:hover {
    transition: all 0.25s;
    color: #344e41;
    text-decoration: none;
    margin-left: -5px;
    font-weight: 900;
}

.menu div ul li a {
    color: #3a5a40;
    padding-left: 10px;
    display: block;
    width: 100%;
}

.blur {
    filter: blur(3px);
}