:root {
    --tetris-game-font-size: 1.5rem;
    --tetris-game-letter-spacing: -0.35rem;
    --tetris-game-line-height: 1.3rem;
    --tetris-text-font-size: 1rem;
    --tetris-game-padding-left: 15px;
    --tetris-game-padding-top: 15px;
    --tetris-game-padding-bottom: 15px;
    --tetris-game-padding-right: 20px;
    --tetris-font-family: 'JetBrains Mono';
    --tetris-game-start-background-color: #2520118c;
    --tetris-text-font-color: #a2d6f9;
    --tetris-game-panel-color: #ccdbe6;
    --tetris-game-panel-hover-color: #fcd72c;
    --tetris-game-border-color: #bcdb3175;
    --tetris-game-font-0-color: #bcdb3133;
    --tetris-game-font-1-color: #1e96fc;
    --tetris-game-font-2-color: #60b6fb;
    --tetris-game-font-3-color: #a2d6f9;
    --tetris-game-font-4-color: #cfe57d;
    --tetris-game-font-5-color: #fcf300;
    --tetris-game-font-6-color: #fedd00;
    --tetris-game-font-7-color: #ffc600;
    --tetris-game-font-8-color: #ffcb17;
    --tetris-game-font-9-color: #f72585;

    --tetris-scoreboard-title-font-color: #e5e9d6e3;
    --tetris-scoreboard-font-color: #f5f7eef1;
    --tetris-scoreboard-hover-font-color: #f72585;

    --tetris-on-pause-color: #9f9f9f7c;
}

#tetris {
    /* border: 1px solid #31dbd3; */
    position: absolute;
    top: 0;
    left: 2px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 99%;
    height: 99%;
    z-index: -1;
}

#tetris #info #next {
    letter-spacing: var(--tetris-game-letter-spacing);
    line-height: var(--tetris-game-line-height);
    padding-right: 10px;
    padding-left: 10px;
}

#tetris #output {
    color: var(--tetris-game-font-0-color);
    border: 3px solid var(--tetris-game-border-color);
    border-radius: 10px;
    font-size: var(--tetris-game-font-size);
    line-height: var(--tetris-game-line-height);
    letter-spacing: var(--tetris-game-letter-spacing);
    margin-right: 2%;
    padding-left: var(--tetris-game-padding-left);
    padding-top: var(--tetris-game-padding-top);
    padding-bottom: var(--tetris-game-padding-bottom);
    padding-right: var(--tetris-game-padding-right);
    cursor: default;
}

#tetris-panel #panel-display {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    color: var(--tetris-game-panel-color);
    left: 60%;
    top: 35%;
    text-align: center;

    width: 40%;
    border-width: 0;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-image: linear-gradient(to left, var(--tetris-on-pause-color), var(--tetris-game-panel-color), var(--tetris-on-pause-color)) 3;
    background-color: var(--tetris-game-start-background-color);
}

#tetris-panel div#action {
    font-size: xx-large;
    font-weight: 800;
    letter-spacing: 0.7rem;
    padding-right: 0.7rem;
    padding-left: 1.4rem;
    border: 1px solid #ffffff00;
}

#tetris-panel div#action:hover {
    cursor: pointer;
    color: var(--tetris-game-panel-hover-color);
    border: 1px solid var(--tetris-game-panel-hover-color);
    border-radius: 8px;
}

#tetris-panel.hide,
#tetris-panel #panel-display.hide,
#tetris.hide {
    display: none;
}

#tetris-panel #score-board.on-pause .image {
    filter: brightness(0.5);
    border-color: var(--tetris-on-pause-color);
}

#tetris-panel #score-board.on-pause,
#tetris.on-pause {
    --tetris-game-border-color: var(--tetris-on-pause-color);
    --tetris-game-font-0-color: var(--tetris-on-pause-color);
    --tetris-game-font-1-color: var(--tetris-on-pause-color);
    --tetris-game-font-2-color: var(--tetris-on-pause-color);
    --tetris-game-font-3-color: var(--tetris-on-pause-color);
    --tetris-game-font-4-color: var(--tetris-on-pause-color);
    --tetris-game-font-5-color: var(--tetris-on-pause-color);
    --tetris-game-font-6-color: var(--tetris-on-pause-color);
    --tetris-game-font-7-color: var(--tetris-on-pause-color);
    --tetris-game-font-8-color: var(--tetris-on-pause-color);
    --tetris-game-font-9-color: var(--tetris-on-pause-color);
    --tetris-scoreboard-title-font-color: var(--tetris-on-pause-color);
    --tetris-text-font-color: var(--tetris-on-pause-color);
    --tetris-scoreboard-font-color: var(--tetris-on-pause-color);
    --tetris-scoreboard-hover-font-color: var(--tetris-on-pause-color);
}

#tetris-panel #score-board {
    position: absolute;
    /* border: 1px solid #31dbd3; */
    top: 15%;
    left: 17%;
    width: 100%;
    max-width: 40%;
    overflow-y: auto;
    max-height: 80%;
    font-size: var(--tetris-text-font-size);
    font-family: var(--tetris-font-family);
    cursor: default;
}

#tetris-panel #score-board .title {
    color: var(--tetris-scoreboard-title-font-color);
}

#tetris-panel #score-board .item {
    color: var(--tetris-scoreboard-font-color);
}

#tetris-panel #score-board .item,
#tetris-panel #score-board .title {
    align-items: center;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid var(--tetris-game-border-color);
}

#tetris-panel #score-board .item:hover {
    color: var(--tetris-scoreboard-hover-font-color);
}

#tetris-panel #score-board .item .image,
#tetris-panel #score-board .item .name {
    /* border: 1px solid #31dbd3; */
    padding-left: 10px;
}


#tetris-panel #score-board .item .score {
    /* border: 1px solid #31dbd3; */
    flex: 1;
    padding-right: 5px;
    text-align: end;
    width: 100%;
}

#tetris #info #next .next-block p .text-0,
#tetris #output p .text-0 {
    color: var(--tetris-game-font-0-color);
}

#tetris #info #next .next-block p .text-1,
#tetris #output p .text-1 {
    color: var(--tetris-game-font-1-color);
    font-weight: 900;
}

#tetris #info #next .next-block p .text-2,
#tetris #output p .text-2 {
    color: var(--tetris-game-font-2-color);
    font-weight: 900;
}

#tetris #info #next .next-block p .text-3,
#tetris #output p .text-3 {
    color: var(--tetris-game-font-3-color);
    font-weight: 900;
}

#tetris #info #next .next-block p .text-4,
#tetris #output p .text-4 {
    color: var(--tetris-game-font-4-color);
    font-weight: 900;
}

#tetris #info #next .next-block p .text-5,
#tetris #output p .text-5 {
    color: var(--tetris-game-font-5-color);
    font-weight: 900;
}

#tetris #info #next .next-block p .text-6,
#tetris #output p .text-6 {
    color: var(--tetris-game-font-6-color);
    font-weight: 900;
}

#tetris #info #next .next-block p .text-7,
#tetris #output p .text-7 {
    color: var(--tetris-game-font-7-color);
    font-weight: 900;
}

#tetris #info #next .next-block p .text-8,
#tetris #output p .text-8 {
    color: var(--tetris-game-font-8-color);
    font-weight: 900;
}

#tetris #info #next .next-block p .text-9,
#tetris #output p .text-9 {
    color: var(--tetris-game-font-9-color);
    font-weight: 900;
}

#tetris .text {
    font-family: var(--tetris-font-family);
    color: var(--tetris-text-font-color);
    font-size: var(--tetris-text-font-size);
}

#tetris #output p {
    border: 0;
    margin: 0;
}

#tetris #info pre p,
#tetris #info pre {
    padding: 0;
    margin: 0;
    justify-content: end;
    align-items: end;
}

#tetris #score {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: end;
    height: 100%;
}

#tetris #score span {
    margin-bottom: 10px;
}

#tetris #info {
    display: flex;
    justify-content: end;
    font-size: 2rem;
    align-items: start;
    padding-right: 2%;
}

#tetris .next-block {
    font-family: var(--tetris-family);
    font-size: var(--tetris-text-font-size);
    font-weight: 700;
    /* border: 1px solid #31db4d; */
}

#tetris #instructions {
    right: 1.5%;
    bottom: 3%;
    line-height: 150%;
    text-align: end;
    padding-right: 1%;
    font-size: 0.7rem;
}

.img-scoreboard {
    border: 2px solid var(--window-header-border-bottom-active);
    border-radius: 15%;
    width: 25px;
    margin-top: 3px;
    /* margin-left: 2px; */
}