/*
  Malik Dellidj - @Dathink

  Solar System orbit animation true time scaled

  Revolution of planets in earth days (from Wikipedia)
  Mercury : ~87,5 days
  Venus : ~224,7 days
  Earth : ~365,2563 days
    + Moon : ~27,3216 days (around earth)
  Mars : ~687 days (~1,8 year)
  Jupiter : ~4 331 days (~12 years)
  Saturn : ~10 747 days (~30 years)
  Uranus : ~30 589 days (~84 years)
  Neptune : ~59 802 days (~165 years)
  Pluto : ~90 580 days (~248 years)
*/

#ClockDisplay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  /* margin-left: 1em; */
  margin-top: 2em;
  text-align: right;
  margin-right: 3rem;
}

#ClockDisplay #timer-input {
  position: absolute;
  right: 1em;
  bottom: 8em;
}

#ClockDisplay .min {
  /* margin-left: 0rem !important; */
  position: absolute;
  font-size: smaller !important;
  color: #999696 !important;
  bottom: -5em !important;
  right: 1em;
  border: 1px solid #999696 !important;
}

#ClockDisplay input {
  background-color: #11ace900;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.705);
  /* padding: 10px 10px 10px 5px; */
  /* width: 90px; */
  border: none;
  text-align: right;
  border-bottom: 2px solid #757575;
}

#ClockDisplay label {
  color: rgba(255, 255, 255, 0.514);
}

#ClockDisplay #start-timer {
  color: rgba(255, 255, 255, 0.596);
  border: 1px solid #ffffff8c;
  width: 5rem;
}

#ClockDisplay ul {
  margin-top: -3rem !important;
  margin-right: 2rem !important;
  height: 50vh;
}

#ClockDisplay li {
  font-family: "JetBrains Mono", monospace !important;
  color: rgba(167, 139, 48, 0.596);
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding-left: 1em;
  padding-top: 0em;
  text-transform: uppercase;
  text-align: center;
}

#ClockDisplay li span {
  display: block;
  color: #ffd54f;
  font-size: 10rem;
  padding-top: 0.15em;
  margin-bottom: -0.2em;
}

#ClockDisplay li #timer-milli-seconds-display {
  font-size: 3rem !important;
  margin-bottom: 0em;
  margin-left: 0rem !important;
  padding: 0em !important;
  color: rgba(167, 139, 48, 0.596);
}

#ClockDisplay .timer_0 {
  display: inline;
  color: rgba(167, 139, 48, 0.596)
}

#text-input {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: left;
}

/* #text-input #text-edit-icon {
  margin-top: 5em;
  margin-left: 1em;
  display: inline;
  width: 25px;
  cursor: pointer;
  filter: invert(45%);
} */

#text-input #pre-display-text {
  color: white;
  font-size: larger;
  margin-top: 4em;
  margin-left: 2em;
  /* border: 1px solid #fdfeff; */
  /* display: inline; */
}

#ClockDisplay #textarea-input {
  margin-left: 1em;
}

#actions-element {
  left: -1px;
  top: -1px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden
}

#actions-element h1 {
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: Lato;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}

#actions-element a,
#actions-element a:visited {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

#actions-element a:hover,
#actions-element a:visited:hover {
  opacity: 1;
}

#actions-element a.icon,
#actions-element a:visited.icon {
  margin-right: 2px;
  padding: 3px;
}

#actions-element .description {
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  /* z-index: 999; */
}

#actions-element .description p {
  font-size: 0.9em;
}

#actions-element .description p+p {
  margin-top: 20px;
}

#actions-element .description p.author {
  font-size: 0.7em;
}

#actions-element .description p.author .fa-heart {
  color: #860014;
}

#actions-element hr {
  margin: 26px 0;
  border: 0;
  border-top: 1px solid white;
  background: transparent;
  width: 25%;
  opacity: 0.1;
}

#actions-element code {
  color: #ae94c0;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9em;
}

#actions-element .solar-syst {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

#actions-element .solar-syst:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  background: white;
  box-shadow: 1266px 1148px 0 0px rgba(255, 255, 255, 0.034), 420px 56px 0 0px rgba(255, 255, 255, 0.047), 691px 609px 0 0px rgba(255, 255, 255, 0.758), 438px 380px 0 0px rgba(255, 255, 255, 0.34), 380px 1239px 0 0px rgba(255, 255, 255, 0.268), 1375px 1733px 0 0px rgba(255, 255, 255, 0.588), 261px 448px 0 0px rgba(255, 255, 255, 0.159), 231px 488px 0 0px rgba(255, 255, 255, 0.994), 595px 15px 0 0px rgba(255, 255, 255, 0.461), 169px 620px 0 0px rgba(255, 255, 255, 0.584), 1755px 113px 0 0px rgba(255, 255, 255, 0.094), 643px 550px 0 0px rgba(255, 255, 255, 0.373), 1420px 1060px 0 0px rgba(255, 255, 255, 0.199), 226px 244px 0 0px rgba(255, 255, 255, 0.478), 1081px 697px 0 0px rgba(255, 255, 255, 0.804), 901px 281px 0 0px rgba(255, 255, 255, 0.779), 272px 1559px 0 0px rgba(255, 255, 255, 0.52), 299px 1636px 0 0px rgba(255, 255, 255, 0.088), 236px 823px 0 0px rgba(255, 255, 255, 0.158), 614px 1077px 0 0px rgba(255, 255, 255, 0.268), 1717px 598px 0 0px rgba(255, 255, 255, 0.601), 1453px 950px 0 0px rgba(255, 255, 255, 0.306), 283px 12px 0 0px rgba(255, 255, 255, 0.317), 583px 507px 0 0px rgba(255, 255, 255, 0.4), 979px 880px 0 0px rgba(255, 255, 255, 0.51), 1114px 1273px 0 0px rgba(255, 255, 255, 0.587), 1570px 522px 0 0px rgba(255, 255, 255, 0.857), 1410px 1691px 0 0px rgba(255, 255, 255, 0.319), 611px 1329px 0 0px rgba(255, 255, 255, 0.789), 1565px 1726px 0 0px rgba(255, 255, 255, 0.267), 919px 756px 0 0px rgba(255, 255, 255, 0.363), 408px 898px 0 0px rgba(255, 255, 255, 0.891), 13px 1325px 0 0px rgba(255, 255, 255, 0.113), 984px 1728px 0 0px rgba(255, 255, 255, 0.357), 1336px 1344px 0 0px rgba(255, 255, 255, 0.685), 1800px 1354px 0 0px rgba(255, 255, 255, 0.462), 300px 283px 0 0px rgba(255, 255, 255, 0.515), 98px 1074px 0 0px rgba(255, 255, 255, 0.43), 1389px 533px 0 0px rgba(255, 255, 255, 0.889), 730px 1293px 0 0px rgba(255, 255, 255, 0.878), 714px 894px 0 0px rgba(255, 255, 255, 0.332), 950px 1116px 0 0px rgba(255, 255, 255, 0.243), 776px 64px 0 0px rgba(255, 255, 255, 0.026), 227px 1193px 0 0px rgba(255, 255, 255, 0.755), 1750px 267px 0 0px rgba(255, 255, 255, 0.335), 1182px 1590px 0 0px rgba(255, 255, 255, 0.158), 867px 1446px 0 0px rgba(255, 255, 255, 0.18), 1799px 176px 0 0px rgba(255, 255, 255, 0.97), 698px 568px 0 0px rgba(255, 255, 255, 0.058), 31px 247px 0 0px rgba(255, 255, 255, 0.606), 1606px 178px 0 0px rgba(255, 255, 255, 0.303), 666px 1135px 0 0px rgba(255, 255, 255, 0.336), 109px 1076px 0 0px rgba(255, 255, 255, 0.879), 38px 380px 0 0px rgba(255, 255, 255, 0.354), 716px 1045px 0 0px rgba(255, 255, 255, 0.461), 1563px 677px 0 0px rgba(255, 255, 255, 0.079), 1456px 742px 0 0px rgba(255, 255, 255, 0.927), 1083px 566px 0 0px rgba(255, 255, 255, 0.057), 901px 1559px 0 0px rgba(255, 255, 255, 0.985), 785px 301px 0 0px rgba(255, 255, 255, 0.696), 336px 1316px 0 0px rgba(255, 255, 255, 0.746), 305px 187px 0 0px rgba(255, 255, 255, 0.43), 1485px 84px 0 0px rgba(255, 255, 255, 0.814), 1657px 1720px 0 0px rgba(255, 255, 255, 0.076), 425px 1757px 0 0px rgba(255, 255, 255, 0.042), 1101px 991px 0 0px rgba(255, 255, 255, 0.106), 1617px 61px 0 0px rgba(255, 255, 255, 0.577), 924px 361px 0 0px rgba(255, 255, 255, 0.597), 1294px 1365px 0 0px rgba(255, 255, 255, 0.485), 1435px 440px 0 0px rgba(255, 255, 255, 0.884), 450px 1691px 0 0px rgba(255, 255, 255, 0.582), 108px 1414px 0 0px rgba(255, 255, 255, 0.63), 1500px 1027px 0 0px rgba(255, 255, 255, 0.311), 675px 674px 0 0px rgba(255, 255, 255, 0.379), 1183px 403px 0 0px rgba(255, 255, 255, 0.385), 155px 553px 0 0px rgba(255, 255, 255, 0.861), 213px 1255px 0 0px rgba(255, 255, 255, 0.979), 932px 1420px 0 0px rgba(255, 255, 255, 0.003), 4px 752px 0 0px rgba(255, 255, 255, 0.941), 643px 342px 0 0px rgba(255, 255, 255, 0.364), 807px 818px 0 0px rgba(255, 255, 255, 0.547), 1515px 1711px 0 0px rgba(255, 255, 255, 0.519), 1798px 1704px 0 0px rgba(255, 255, 255, 0.075), 1593px 1577px 0 0px rgba(255, 255, 255, 0.122), 1241px 844px 0 0px rgba(255, 255, 255, 0.04), 1157px 716px 0 0px rgba(255, 255, 255, 0.338), 1346px 895px 0 0px rgba(255, 255, 255, 0.55), 1486px 646px 0 0px rgba(255, 255, 255, 0.763), 1701px 1315px 0 0px rgba(255, 255, 255, 0.405), 290px 985px 0 0px rgba(255, 255, 255, 0.514), 1613px 730px 0 0px rgba(255, 255, 255, 0.42), 333px 1723px 0 0px rgba(255, 255, 255, 0.179), 355px 484px 0 0px rgba(255, 255, 255, 0.031), 603px 103px 0 0px rgba(255, 255, 255, 0.224), 1302px 554px 0 0px rgba(255, 255, 255, 0.812), 109px 886px 0 0px rgba(255, 255, 255, 0.697), 1004px 1447px 0 0px rgba(255, 255, 255, 0.6), 1142px 1558px 0 0px rgba(255, 255, 255, 0.19), 1040px 735px 0 0px rgba(255, 255, 255, 0.203), 1081px 571px 0 0px rgba(255, 255, 255, 0.515), 875px 1126px 0 0px rgba(255, 255, 255, 0.891), 1375px 1327px 0 0px rgba(255, 255, 255, 0.879), 1393px 269px 0 0px rgba(255, 255, 255, 0.48), 1115px 232px 0 0px rgba(255, 255, 255, 0.854), 212px 789px 0 0px rgba(255, 255, 255, 0.354), 339px 537px 0 0px rgba(255, 255, 255, 0.681), 1548px 1363px 0 0px rgba(255, 255, 255, 0.727), 1070px 1178px 0 0px rgba(255, 255, 255, 0.304), 1112px 1116px 0 0px rgba(255, 255, 255, 0.019), 1px 1028px 0 0px rgba(255, 255, 255, 0.888), 1547px 1377px 0 0px rgba(255, 255, 255, 0.956), 273px 543px 0 0px rgba(255, 255, 255, 0.045), 1681px 1589px 0 0px rgba(255, 255, 255, 0.758), 172px 1394px 0 0px rgba(255, 255, 255, 0.917), 785px 745px 0 0px rgba(255, 255, 255, 0.797), 1741px 1544px 0 0px rgba(255, 255, 255, 0.189), 900px 829px 0 0px rgba(255, 255, 255, 0.978), 33px 1625px 0 0px rgba(255, 255, 255, 0.369), 236px 1431px 0 0px rgba(255, 255, 255, 0.763), 1127px 791px 0 0px rgba(255, 255, 255, 0.094), 1195px 97px 0 0px rgba(255, 255, 255, 0.906), 736px 541px 0 0px rgba(255, 255, 255, 0.602), 1796px 1703px 0 0px rgba(255, 255, 255, 0.99), 1221px 861px 0 0px rgba(255, 255, 255, 0.477), 1057px 1024px 0 0px rgba(255, 255, 255, 0.662), 734px 31px 0 0px rgba(255, 255, 255, 0.917), 838px 1303px 0 0px rgba(255, 255, 255, 0.392), 699px 1084px 0 0px rgba(255, 255, 255, 0.681), 509px 325px 0 0px rgba(255, 255, 255, 0.998), 41px 804px 0 0px rgba(255, 255, 255, 0.075), 954px 833px 0 0px rgba(255, 255, 255, 0.97), 728px 203px 0 0px rgba(255, 255, 255, 0.323), 530px 1278px 0 0px rgba(255, 255, 255, 0.365), 1149px 1174px 0 0px rgba(255, 255, 255, 0.565), 1010px 1366px 0 0px rgba(255, 255, 255, 0.712), 571px 1171px 0 0px rgba(255, 255, 255, 0.557), 981px 739px 0 0px rgba(255, 255, 255, 0.593), 1104px 1305px 0 0px rgba(255, 255, 255, 0.995), 385px 1235px 0 0px rgba(255, 255, 255, 0.435), 1131px 871px 0 0px rgba(255, 255, 255, 0.774), 322px 1527px 0 0px rgba(255, 255, 255, 0.182), 910px 1479px 0 0px rgba(255, 255, 255, 0.731), 1170px 687px 0 0px rgba(255, 255, 255, 0.903), 539px 1785px 0 0px rgba(255, 255, 255, 0.779), 1567px 1684px 0 0px rgba(255, 255, 255, 0.351), 776px 974px 0 0px rgba(255, 255, 255, 0.763), 744px 1235px 0 0px rgba(255, 255, 255, 0.582), 353px 327px 0 0px rgba(255, 255, 255, 0.942), 1612px 1720px 0 0px rgba(255, 255, 255, 0.029), 1222px 419px 0 0px rgba(255, 255, 255, 0.302), 1631px 1173px 0 0px rgba(255, 255, 255, 0.266), 1385px 288px 0 0px rgba(255, 255, 255, 0.762), 1602px 394px 0 0px rgba(255, 255, 255, 0.856), 572px 1469px 0 0px rgba(255, 255, 255, 0.172), 942px 201px 0 0px rgba(255, 255, 255, 0.316), 1235px 843px 0 0px rgba(255, 255, 255, 0.083), 1430px 881px 0 0px rgba(255, 255, 255, 0.696), 1460px 1696px 0 0px rgba(255, 255, 255, 0.62), 1352px 826px 0 0px rgba(255, 255, 255, 0.688), 1314px 459px 0 0px rgba(255, 255, 255, 0.883), 1467px 167px 0 0px rgba(255, 255, 255, 0.311), 1680px 1091px 0 0px rgba(255, 255, 255, 0.703), 254px 810px 0 0px rgba(255, 255, 255, 0.764), 752px 283px 0 0px rgba(255, 255, 255, 0.119), 1719px 1038px 0 0px rgba(255, 255, 255, 0.685), 131px 1027px 0 0px rgba(255, 255, 255, 0.638), 1578px 1626px 0 0px rgba(255, 255, 255, 0.639), 1435px 679px 0 0px rgba(255, 255, 255, 0.451), 815px 1451px 0 0px rgba(255, 255, 255, 0.727), 1730px 1045px 0 0px rgba(255, 255, 255, 0.394), 504px 822px 0 0px rgba(255, 255, 255, 0.88), 1774px 453px 0 0px rgba(255, 255, 255, 0.022), 904px 96px 0 0px rgba(255, 255, 255, 0.982), 1087px 133px 0 0px rgba(255, 255, 255, 0.28), 333px 1140px 0 0px rgba(255, 255, 255, 0.66), 516px 1703px 0 0px rgba(255, 255, 255, 0.783), 849px 815px 0 0px rgba(255, 255, 255, 0.277), 1035px 90px 0 0px rgba(255, 255, 255, 0.028), 908px 48px 0 0px rgba(255, 255, 255, 0.624), 545px 279px 0 0px rgba(255, 255, 255, 0.909), 1482px 1529px 0 0px rgba(255, 255, 255, 0.528), 1691px 795px 0 0px rgba(255, 255, 255, 0.099), 225px 190px 0 0px rgba(255, 255, 255, 0.419), 450px 652px 0 0px rgba(255, 255, 255, 0.926), 395px 1684px 0 0px rgba(255, 255, 255, 0.894), 1050px 1691px 0 0px rgba(255, 255, 255, 0.103), 725px 642px 0 0px rgba(255, 255, 255, 0.312), 1081px 902px 0 0px rgba(255, 255, 255, 0.861), 909px 448px 0 0px rgba(255, 255, 255, 0.195), 359px 547px 0 0px rgba(255, 255, 255, 0.817), 1461px 1734px 0 0px rgba(255, 255, 255, 0.426), 1340px 324px 0 0px rgba(255, 255, 255, 0.08), 174px 905px 0 0px rgba(255, 255, 255, 0.826), 1653px 914px 0 0px rgba(255, 255, 255, 0.535), 1413px 1528px 0 0px rgba(255, 255, 255, 0.637), 426px 1023px 0 0px rgba(255, 255, 255, 0.57), 1787px 1111px 0 0px rgba(255, 255, 255, 0.857), 1462px 130px 0 0px rgba(255, 255, 255, 0.219), 22px 408px 0 0px rgba(255, 255, 255, 0.394), 1156px 217px 0 0px rgba(255, 255, 255, 0.935), 1465px 1532px 0 0px rgba(255, 255, 255, 0.012), 1496px 407px 0 0px rgba(255, 255, 255, 0.807), 327px 1315px 0 0px rgba(255, 255, 255, 0.76), 1510px 867px 0 0px rgba(255, 255, 255, 0.5), 1500px 582px 0 0px rgba(255, 255, 255, 0.765), 1125px 1451px 0 0px rgba(255, 255, 255, 0.718), 1px 1136px 0 0px rgba(255, 255, 255, 1), 438px 1006px 0 0px rgba(255, 255, 255, 0.983), 63px 1094px 0 0px rgba(255, 255, 255, 0.755), 1381px 1069px 0 0px rgba(255, 255, 255, 0.082), 329px 1779px 0 0px rgba(255, 255, 255, 0.732), 1047px 337px 0 0px rgba(255, 255, 255, 0.499), 1346px 986px 0 0px rgba(255, 255, 255, 0.391), 1768px 694px 0 0px rgba(255, 255, 255, 0.406), 1723px 747px 0 0px rgba(255, 255, 255, 0.009), 308px 334px 0 0px rgba(255, 255, 255, 0.633), 1590px 1122px 0 0px rgba(255, 255, 255, 0.469), 1557px 588px 0 0px rgba(255, 255, 255, 0.762), 512px 1236px 0 0px rgba(255, 255, 255, 0.126), 1151px 459px 0 0px rgba(255, 255, 255, 0.597), 909px 1651px 0 0px rgba(255, 255, 255, 0.403), 574px 1655px 0 0px rgba(255, 255, 255, 0.742), 555px 1232px 0 0px rgba(255, 255, 255, 0.241), 1471px 1059px 0 0px rgba(255, 255, 255, 0.008), 1685px 1040px 0 0px rgba(255, 255, 255, 0.137), 1479px 301px 0 0px rgba(255, 255, 255, 0.361), 122px 805px 0 0px rgba(255, 255, 255, 0.294), 505px 1302px 0 0px rgba(255, 255, 255, 0.497), 39px 49px 0 0px rgba(255, 255, 255, 0.438), 1377px 636px 0 0px rgba(255, 255, 255, 0.228), 287px 1011px 0 0px rgba(255, 255, 255, 0.266), 794px 1208px 0 0px rgba(255, 255, 255, 0.547), 1789px 1606px 0 0px rgba(255, 255, 255, 0.533), 1533px 753px 0 0px rgba(255, 255, 255, 0.734), 887px 542px 0 0px rgba(255, 255, 255, 0.862), 654px 1127px 0 0px rgba(255, 255, 255, 0.739), 1738px 384px 0 0px rgba(255, 255, 255, 0.096), 1563px 950px 0 0px rgba(255, 255, 255, 0.627), 158px 1740px 0 0px rgba(255, 255, 255, 0.027), 1434px 1421px 0 0px rgba(255, 255, 255, 0.938), 1104px 880px 0 0px rgba(255, 255, 255, 0.718), 1799px 1581px 0 0px rgba(255, 255, 255, 0.982), 1116px 626px 0 0px rgba(255, 255, 255, 0.64), 1285px 756px 0 0px rgba(255, 255, 255, 0.521), 47px 126px 0 0px rgba(255, 255, 255, 0.941), 834px 257px 0 0px rgba(255, 255, 255, 0.942), 1036px 921px 0 0px rgba(255, 255, 255, 0.026), 1119px 630px 0 0px rgba(255, 255, 255, 0.307), 532px 531px 0 0px rgba(255, 255, 255, 0.049), 309px 752px 0 0px rgba(255, 255, 255, 0.429), 617px 1580px 0 0px rgba(255, 255, 255, 0.587), 954px 1588px 0 0px rgba(255, 255, 255, 0.149), 1089px 1641px 0 0px rgba(255, 255, 255, 0.141), 1782px 479px 0 0px rgba(255, 255, 255, 0.903), 1175px 1217px 0 0px rgba(255, 255, 255, 0.182), 987px 115px 0 0px rgba(255, 255, 255, 0.952), 247px 465px 0 0px rgba(255, 255, 255, 0.986), 934px 1694px 0 0px rgba(255, 255, 255, 0.464), 181px 12px 0 0px rgba(255, 255, 255, 0.234), 1179px 108px 0 0px rgba(255, 255, 255, 0.064), 181px 1756px 0 0px rgba(255, 255, 255, 0.727), 1153px 639px 0 0px rgba(255, 255, 255, 0.72), 1076px 1029px 0 0px rgba(255, 255, 255, 0.317), 160px 154px 0 0px rgba(255, 255, 255, 0.336), 902px 1066px 0 0px rgba(255, 255, 255, 0.685), 1299px 1006px 0 0px rgba(255, 255, 255, 0.428), 1260px 1640px 0 0px rgba(255, 255, 255, 0.32), 804px 1309px 0 0px rgba(255, 255, 255, 0.192), 1676px 1695px 0 0px rgba(255, 255, 255, 0.772), 1179px 1415px 0 0px rgba(255, 255, 255, 0.585), 900px 1055px 0 0px rgba(255, 255, 255, 0.916), 197px 532px 0 0px rgba(255, 255, 255, 0.509), 1330px 1186px 0 0px rgba(255, 255, 255, 0.996), 1034px 274px 0 0px rgba(255, 255, 255, 0.882), 961px 889px 0 0px rgba(255, 255, 255, 0.316), 42px 1236px 0 0px rgba(255, 255, 255, 0.149), 926px 371px 0 0px rgba(255, 255, 255, 0.618), 1045px 317px 0 0px rgba(255, 255, 255, 0.534), 342px 933px 0 0px rgba(255, 255, 255, 0.953), 460px 903px 0 0px rgba(255, 255, 255, 0.281), 1439px 339px 0 0px rgba(255, 255, 255, 0.09), 1545px 1079px 0 0px rgba(255, 255, 255, 0.798), 1572px 837px 0 0px rgba(255, 255, 255, 0.468), 1680px 198px 0 0px rgba(255, 255, 255, 0.963), 884px 104px 0 0px rgba(255, 255, 255, 0.565), 41px 150px 0 0px rgba(255, 255, 255, 0.458), 1773px 787px 0 0px rgba(255, 255, 255, 0.3), 922px 923px 0 0px rgba(255, 255, 255, 0.139), 1584px 390px 0 0px rgba(255, 255, 255, 0.082), 813px 379px 0 0px rgba(255, 255, 255, 0.879), 1612px 77px 0 0px rgba(255, 255, 255, 0.557), 1212px 419px 0 0px rgba(255, 255, 255, 0.574), 166px 447px 0 0px rgba(255, 255, 255, 0.09), 1247px 588px 0 0px rgba(255, 255, 255, 0.478), 1140px 555px 0 0px rgba(255, 255, 255, 0.986), 505px 1575px 0 0px rgba(255, 255, 255, 0.444), 276px 1082px 0 0px rgba(255, 255, 255, 0.717), 360px 645px 0 0px rgba(255, 255, 255, 0.429), 1211px 977px 0 0px rgba(255, 255, 255, 0.875), 518px 396px 0 0px rgba(255, 255, 255, 0.299), 1289px 1122px 0 0px rgba(255, 255, 255, 0.165), 1224px 90px 0 0px rgba(255, 255, 255, 0.672), 961px 895px 0 0px rgba(255, 255, 255, 0.808), 83px 568px 0 0px rgba(255, 255, 255, 0.819), 62px 481px 0 0px rgba(255, 255, 255, 0.953), 1640px 389px 0 0px rgba(255, 255, 255, 0.817), 849px 1480px 0 0px rgba(255, 255, 255, 0.458), 1449px 615px 0 0px rgba(255, 255, 255, 0.883), 1548px 221px 0 0px rgba(255, 255, 255, 0.852), 1325px 227px 0 0px rgba(255, 255, 255, 0.306), 682px 587px 0 0px rgba(255, 255, 255, 0.858), 714px 1110px 0 0px rgba(255, 255, 255, 0.05), 450px 712px 0 0px rgba(255, 255, 255, 0.559), 1611px 939px 0 0px rgba(255, 255, 255, 0.579), 1643px 651px 0 0px rgba(255, 255, 255, 0.172), 1067px 173px 0 0px rgba(255, 255, 255, 0.55), 573px 981px 0 0px rgba(255, 255, 255, 0.301), 534px 402px 0 0px rgba(255, 255, 255, 0.889), 536px 457px 0 0px rgba(255, 255, 255, 0.509), 821px 172px 0 0px rgba(255, 255, 255, 0.754), 1488px 39px 0 0px rgba(255, 255, 255, 0.012), 442px 829px 0 0px rgba(255, 255, 255, 0.777), 1697px 502px 0 0px rgba(255, 255, 255, 0.666), 1077px 514px 0 0px rgba(255, 255, 255, 0.36), 922px 905px 0 0px rgba(255, 255, 255, 0.657), 1615px 644px 0 0px rgba(255, 255, 255, 0.264), 395px 850px 0 0px rgba(255, 255, 255, 0.558), 568px 1501px 0 0px rgba(255, 255, 255, 0.889), 400px 366px 0 0px rgba(255, 255, 255, 0.491), 815px 1212px 0 0px rgba(255, 255, 255, 0.948), 540px 1165px 0 0px rgba(255, 255, 255, 0.102), 418px 888px 0 0px rgba(255, 255, 255, 0.223), 1560px 1275px 0 0px rgba(255, 255, 255, 0.405), 1445px 836px 0 0px rgba(255, 255, 255, 0.696), 638px 209px 0 0px rgba(255, 255, 255, 0.849), 237px 1205px 0 0px rgba(255, 255, 255, 0.062), 460px 1091px 0 0px rgba(255, 255, 255, 0.622), 528px 1526px 0 0px rgba(255, 255, 255, 0.217), 95px 164px 0 0px rgba(255, 255, 255, 0.789), 1600px 531px 0 0px rgba(255, 255, 255, 0.915), 1203px 1565px 0 0px rgba(255, 255, 255, 0.915), 136px 109px 0 0px rgba(255, 255, 255, 0.995), 558px 984px 0 0px rgba(255, 255, 255, 0.088), 630px 221px 0 0px rgba(255, 255, 255, 0.253), 1677px 709px 0 0px rgba(255, 255, 255, 0.075), 1775px 1128px 0 0px rgba(255, 255, 255, 0.224), 1647px 744px 0 0px rgba(255, 255, 255, 0.515), 1281px 1079px 0 0px rgba(255, 255, 255, 0.385), 165px 1660px 0 0px rgba(255, 255, 255, 0.603), 1338px 1129px 0 0px rgba(255, 255, 255, 0.743), 941px 1113px 0 0px rgba(255, 255, 255, 0.947), 1385px 332px 0 0px rgba(255, 255, 255, 0.775), 1459px 31px 0 0px rgba(255, 255, 255, 0.285), 1772px 162px 0 0px rgba(255, 255, 255, 0.088), 95px 1486px 0 0px rgba(255, 255, 255, 0.885), 686px 183px 0 0px rgba(255, 255, 255, 0.906), 1778px 1441px 0 0px rgba(255, 255, 255, 0.514), 485px 163px 0 0px rgba(255, 255, 255, 0.226), 887px 460px 0 0px rgba(255, 255, 255, 0.52), 1220px 233px 0 0px rgba(255, 255, 255, 0.195), 782px 427px 0 0px rgba(255, 255, 255, 0.254), 383px 616px 0 0px rgba(255, 255, 255, 0.841), 975px 197px 0 0px rgba(255, 255, 255, 0.843), 159px 1273px 0 0px rgba(255, 255, 255, 0.853), 306px 519px 0 0px rgba(255, 255, 255, 0.922), 910px 1392px 0 0px rgba(255, 255, 255, 0.819), 843px 1332px 0 0px rgba(255, 255, 255, 0.046), 842px 1051px 0 0px rgba(255, 255, 255, 0.524), 1424px 806px 0 0px rgba(255, 255, 255, 0.869), 290px 551px 0 0px rgba(255, 255, 255, 0.164), 982px 1104px 0 0px rgba(255, 255, 255, 0.154), 230px 847px 0 0px rgba(255, 255, 255, 0.063), 1454px 630px 0 0px rgba(255, 255, 255, 0.742), 1715px 564px 0 0px rgba(255, 255, 255, 0.419), 735px 1193px 0 0px rgba(255, 255, 255, 0.991), 642px 421px 0 0px rgba(255, 255, 255, 0.23), 1436px 1264px 0 0px rgba(255, 255, 255, 0.263), 1736px 637px 0 0px rgba(255, 255, 255, 0.92), 1741px 978px 0 0px rgba(255, 255, 255, 0.566), 350px 1508px 0 0px rgba(255, 255, 255, 0.962), 749px 1444px 0 0px rgba(255, 255, 255, 0.873), 111px 698px 0 0px rgba(255, 255, 255, 0.264), 1042px 1360px 0 0px rgba(255, 255, 255, 0.671), 211px 580px 0 0px rgba(255, 255, 255, 0.944), 278px 1284px 0 0px rgba(255, 255, 255, 0.531), 1748px 981px 0 0px rgba(255, 255, 255, 0.399), 693px 1223px 0 0px rgba(255, 255, 255, 0.017), 1036px 833px 0 0px rgba(255, 255, 255, 0.303), 266px 1034px 0 0px rgba(255, 255, 255, 0.662), 418px 748px 0 0px rgba(255, 255, 255, 0.328), 1406px 666px 0 0px rgba(255, 255, 255, 0.217), 743px 431px 0 0px rgba(255, 255, 255, 0.447), 1589px 41px 0 0px rgba(255, 255, 255, 0.535), 712px 1457px 0 0px rgba(255, 255, 255, 0.162), 139px 585px 0 0px rgba(255, 255, 255, 0.684), 444px 138px 0 0px rgba(255, 255, 255, 0.827), 618px 193px 0 0px rgba(255, 255, 255, 0.295), 629px 451px 0 0px rgba(255, 255, 255, 0.609), 356px 1036px 0 0px rgba(255, 255, 255, 0.823), 3px 1447px 0 0px rgba(255, 255, 255, 0.692), 198px 365px 0 0px rgba(255, 255, 255, 0.425), 102px 1754px 0 0px rgba(255, 255, 255, 0.023), 1428px 1792px 0 0px rgba(255, 255, 255, 0.546), 705px 380px 0 0px rgba(255, 255, 255, 0.908), 1628px 171px 0 0px rgba(255, 255, 255, 0.929), 1156px 638px 0 0px rgba(255, 255, 255, 0.624), 357px 50px 0 0px rgba(255, 255, 255, 0.697), 229px 1779px 0 0px rgba(255, 255, 255, 0.098), 1193px 1026px 0 0px rgba(255, 255, 255, 0.851), 1298px 1584px 0 0px rgba(255, 255, 255, 0.562), 1326px 1119px 0 0px rgba(255, 255, 255, 0.306), 149px 1614px 0 0px rgba(255, 255, 255, 0.174), 1516px 849px 0 0px rgba(255, 255, 255, 0.429), 1281px 1579px 0 0px rgba(255, 255, 255, 0.886), 603px 514px 0 0px rgba(255, 255, 255, 0.488), 400px 805px 0 0px rgba(255, 255, 255, 0.447), 112px 868px 0 0px rgba(255, 255, 255, 0.24), 1763px 882px 0 0px rgba(255, 255, 255, 0.74), 676px 1416px 0 0px rgba(255, 255, 255, 0.805), 733px 856px 0 0px rgba(255, 255, 255, 0.019), 1571px 435px 0 0px rgba(255, 255, 255, 0.131), 782px 1472px 0 0px rgba(255, 255, 255, 0.396), 353px 563px 0 0px rgba(255, 255, 255, 0.913), 1218px 68px 0 0px rgba(255, 255, 255, 0.237), 787px 1755px 0 0px rgba(255, 255, 255, 0.031), 25px 808px 0 0px rgba(255, 255, 255, 0.447), 394px 1681px 0 0px rgba(255, 255, 255, 0.316), 160px 1331px 0 0px rgba(255, 255, 255, 0.143), 1320px 1517px 0 0px rgba(255, 255, 255, 0.282), 92px 99px 0 0px rgba(255, 255, 255, 0.271), 1415px 607px 0 0px rgba(255, 255, 255, 0.113), 1378px 1494px 0 0px rgba(255, 255, 255, 0.702), 1701px 530px 0 0px rgba(255, 255, 255, 0.831), 641px 1717px 0 0px rgba(255, 255, 255, 0.515), 1783px 1322px 0 0px rgba(255, 255, 255, 0.262), 1386px 754px 0 0px rgba(255, 255, 255, 0.276), 1576px 1233px 0 0px rgba(255, 255, 255, 0.583), 853px 832px 0 0px rgba(255, 255, 255, 0.801), 1060px 810px 0 0px rgba(255, 255, 255, 0.222), 1055px 663px 0 0px rgba(255, 255, 255, 0.352), 1367px 1554px 0 0px rgba(255, 255, 255, 0.16), 784px 240px 0 0px rgba(255, 255, 255, 0.536), 1168px 848px 0 0px rgba(255, 255, 255, 0.622), 863px 531px 0 0px rgba(255, 255, 255, 0.375), 1718px 253px 0 0px rgba(255, 255, 255, 0.161), 1493px 645px 0 0px rgba(255, 255, 255, 0.701), 1546px 1269px 0 0px rgba(255, 255, 255, 0.536), 930px 1626px 0 0px rgba(255, 255, 255, 0.612), 395px 1767px 0 0px rgba(255, 255, 255, 0.192), 1375px 747px 0 0px rgba(255, 255, 255, 0.422), 1666px 1767px 0 0px rgba(255, 255, 255, 0.459), 416px 467px 0 0px rgba(255, 255, 255, 0.999), 1494px 1402px 0 0px rgba(255, 255, 255, 0.592), 1036px 1150px 0 0px rgba(255, 255, 255, 0.271), 928px 1505px 0 0px rgba(255, 255, 255, 0.461), 161px 1215px 0 0px rgba(255, 255, 255, 0.272), 222px 588px 0 0px rgba(255, 255, 255, 0.746), 422px 393px 0 0px rgba(255, 255, 255, 0.768), 1488px 699px 0 0px rgba(255, 255, 255, 0.835), 725px 1390px 0 0px rgba(255, 255, 255, 0.815), 915px 1378px 0 0px rgba(255, 255, 255, 0.237), 1401px 1250px 0 0px rgba(255, 255, 255, 0.562), 1476px 1777px 0 0px rgba(255, 255, 255, 0.691), 1385px 876px 0 0px rgba(255, 255, 255, 0.863), 204px 1636px 0 0px rgba(255, 255, 255, 0.248), 878px 636px 0 0px rgba(255, 255, 255, 0.617), 372px 291px 0 0px rgba(255, 255, 255, 0.649), 476px 503px 0 0px rgba(255, 255, 255, 0.919), 1705px 1668px 0 0px rgba(255, 255, 255, 0.523), 1001px 1477px 0 0px rgba(255, 255, 255, 0.273), 875px 1546px 0 0px rgba(255, 255, 255, 0.736), 26px 1611px 0 0px rgba(255, 255, 255, 0.995), 58px 80px 0 0px rgba(255, 255, 255, 0.205), 1633px 567px 0 0px rgba(255, 255, 255, 0.828), 1078px 1131px 0 0px rgba(255, 255, 255, 0.62), 311px 907px 0 0px rgba(255, 255, 255, 0.979), 1104px 1108px 0 0px rgba(255, 255, 255, 0.635), 74px 1016px 0 0px rgba(255, 255, 255, 0.954), 1343px 657px 0 0px rgba(255, 255, 255, 0.909), 1044px 996px 0 0px rgba(255, 255, 255, 0.314), 1458px 1264px 0 0px rgba(255, 255, 255, 0.511), 505px 722px 0 0px rgba(255, 255, 255, 0.646), 1075px 819px 0 0px rgba(255, 255, 255, 0.819), 547px 258px 0 0px rgba(255, 255, 255, 0.592), 715px 1312px 0 0px rgba(255, 255, 255, 0.357), 1142px 250px 0 0px rgba(255, 255, 255, 0.288), 78px 865px 0 0px rgba(255, 255, 255, 0.634), 1516px 1134px 0 0px rgba(255, 255, 255, 0.461), 1578px 386px 0 0px rgba(255, 255, 255, 0.705), 954px 656px 0 0px rgba(255, 255, 255, 0.633), 135px 245px 0 0px rgba(255, 255, 255, 0.77), 201px 1118px 0 0px rgba(255, 255, 255, 0.92), 1317px 68px 0 0px rgba(255, 255, 255, 0.752), 1698px 669px 0 0px rgba(255, 255, 255, 0.312), 1235px 1043px 0 0px rgba(255, 255, 255, 0.702), 1738px 740px 0 0px rgba(255, 255, 255, 0.643), 1527px 756px 0 0px rgba(255, 255, 255, 0.638), 951px 461px 0 0px rgba(255, 255, 255, 0.679), 950px 764px 0 0px rgba(255, 255, 255, 0.225), 1130px 1384px 0 0px rgba(255, 255, 255, 0.843);
  border-radius: 100px;
}

#actions-element .solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  /* z-index: 999; */
}

#actions-element .solar-syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}

#actions-element .solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}

#actions-element .solar-syst div:not(.asteroids-belt):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

#actions-element .sun {
  background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

#actions-element .mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  -webkit-animation: orb 7.1867343561s linear infinite;
  animation: orb 7.1867343561s linear infinite;
}

#actions-element .mercury:before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
}

#actions-element .venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: orb 18.4555338265s linear infinite;
  animation: orb 18.4555338265s linear infinite;
}

#actions-element .venus:before {
  height: 8px;
  width: 8px;
  background: #BEB768;
  margin-top: -4px;
  margin-left: -4px;
}

#actions-element .earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  -webkit-animation: orb 30s linear infinite;
  animation: orb 30s linear infinite;
}

#actions-element .earth:before {
  height: 6px;
  width: 6px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
}

#actions-element .earth:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  -webkit-animation: orb 2.2440352158s linear infinite;
  animation: orb 2.2440352158s linear infinite;
}

#actions-element .mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  -webkit-animation: orb 56.4261314589s linear infinite;
  animation: orb 56.4261314589s linear infinite;
}

#actions-element .mars:before {
  height: 6px;
  width: 6px;
  background: #cf3921;
  margin-top: -3px;
  margin-left: -3px;
}

#actions-element .jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  -webkit-animation: orb 355.7228171013s linear infinite;
  animation: orb 355.7228171013s linear infinite;
}

#actions-element .jupiter:before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
}

#actions-element .saturn {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  -webkit-animation: orb 882.6952471456s linear infinite;
  animation: orb 882.6952471456s linear infinite;
}

#actions-element .saturn:before {
  height: 12px;
  width: 12px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
}

#actions-element .saturn:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0px;
  transform: rotateZ(-52deg);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  -webkit-animation: orb 882.6952471456s linear infinite;
  animation: orb 882.6952471456s linear infinite;
  animation-direction: reverse;
  transform-origin: 52% 60%;
}

#actions-element .uranus {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  -webkit-animation: orb 2512.4001967933s linear infinite;
  animation: orb 2512.4001967933s linear infinite;
}

#actions-element .uranus:before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
}

#actions-element .neptune {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  -webkit-animation: orb 4911.7838624549s linear infinite;
  animation: orb 4911.7838624549s linear infinite;
}

#actions-element .neptune:before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
}

#actions-element .asteroids-belt {
  opacity: 0.7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  -webkit-animation: orb 179.9558282773s linear infinite;
  animation: orb 179.9558282773s linear infinite;
  overflow: hidden;
}

#actions-element .asteroids-belt:before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: 119px -41px 0 -104px rgba(255, 255, 255, 0.381), -5px 37px 0 -104px rgba(255, 255, 255, 0.748), -144px 4px 0 -104px rgba(255, 255, 255, 0.072), 14px -105px 0 -104px rgba(255, 255, 255, 0.564), -122px 101px 0 -104px rgba(255, 255, 255, 0.472), 135px -79px 0 -104px rgba(255, 255, 255, 0.905), 122px -26px 0 -104px rgba(255, 255, 255, 0.616), 26px -108px 0 -104px rgba(255, 255, 255, 0.23), 30px -42px 0 -104px rgba(255, 255, 255, 0.998), -24px 98px 0 -104px rgba(255, 255, 255, 0.083), -18px -31px 0 -104px rgba(255, 255, 255, 0.462), 130px -1px 0 -104px rgba(255, 255, 255, 0.263), -83px -89px 0 -104px rgba(255, 255, 255, 0.959), -58px 1px 0 -104px rgba(255, 255, 255, 0.626), 144px 20px 0 -104px rgba(255, 255, 255, 0.888), 73px 63px 0 -104px rgba(255, 255, 255, 0.577), 22px -128px 0 -104px rgba(255, 255, 255, 0.763), 28px -26px 0 -104px rgba(255, 255, 255, 0.466), -55px 115px 0 -104px rgba(255, 255, 255, 0.323), 83px -28px 0 -104px rgba(255, 255, 255, 0.302), -86px 122px 0 -104px rgba(255, 255, 255, 0.478), -127px -58px 0 -104px rgba(255, 255, 255, 0.443), 124px 99px 0 -104px rgba(255, 255, 255, 0.556), -112px 111px 0 -104px rgba(255, 255, 255, 0.575), 45px -2px 0 -104px rgba(255, 255, 255, 0.194), -70px 86px 0 -104px rgba(255, 255, 255, 0.515), -120px -4px 0 -104px rgba(255, 255, 255, 0.086), 8px -75px 0 -104px rgba(255, 255, 255, 0.449), -83px -138px 0 -104px rgba(255, 255, 255, 0.487), 23px 33px 0 -104px rgba(255, 255, 255, 0.213), -38px -133px 0 -104px rgba(255, 255, 255, 0.395), -88px 145px 0 -104px rgba(255, 255, 255, 0.269), 3px 95px 0 -104px rgba(255, 255, 255, 0.631), -100px 37px 0 -104px rgba(255, 255, 255, 0.796), -138px -2px 0 -104px rgba(255, 255, 255, 0.922), 107px -62px 0 -104px rgba(255, 255, 255, 0.987), -142px 5px 0 -104px rgba(255, 255, 255, 0.588), 37px -94px 0 -104px rgba(255, 255, 255, 0.552), 88px -48px 0 -104px rgba(255, 255, 255, 0.546), 81px 59px 0 -104px rgba(255, 255, 255, 0.082), 106px 91px 0 -104px rgba(255, 255, 255, 0.62), -49px 15px 0 -104px rgba(255, 255, 255, 0.789), 82px 79px 0 -104px rgba(255, 255, 255, 0.684), 73px -33px 0 -104px rgba(255, 255, 255, 0.909), -93px 10px 0 -104px rgba(255, 255, 255, 0.918), -3px -125px 0 -104px rgba(255, 255, 255, 0.569), -102px 35px 0 -104px rgba(255, 255, 255, 0.62), 76px 59px 0 -104px rgba(255, 255, 255, 0.035), 85px 141px 0 -104px rgba(255, 255, 255, 0.206), -33px -9px 0 -104px rgba(255, 255, 255, 0.344), -44px -37px 0 -104px rgba(255, 255, 255, 0.805), -18px -75px 0 -104px rgba(255, 255, 255, 0.601), -62px -27px 0 -104px rgba(255, 255, 255, 0.916), -10px 15px 0 -104px rgba(255, 255, 255, 0.198), 112px -43px 0 -104px rgba(255, 255, 255, 0.718), -3px -40px 0 -104px rgba(255, 255, 255, 0.457), -78px -27px 0 -104px rgba(255, 255, 255, 0.48), -80px 46px 0 -104px rgba(255, 255, 255, 0.862), 34px 62px 0 -104px rgba(255, 255, 255, 0.326), -3px 37px 0 -104px rgba(255, 255, 255, 0.971), -45px 106px 0 -104px rgba(255, 255, 255, 0.644), -89px -103px 0 -104px rgba(255, 255, 255, 0.569), 32px -9px 0 -104px rgba(255, 255, 255, 0.889), -115px -32px 0 -104px rgba(255, 255, 255, 0.96), -43px 132px 0 -104px rgba(255, 255, 255, 0.995), -67px -30px 0 -104px rgba(255, 255, 255, 0.209), 44px 125px 0 -104px rgba(255, 255, 255, 0.882), -109px -24px 0 -104px rgba(255, 255, 255, 0.351), 93px -76px 0 -104px rgba(255, 255, 255, 0.659), 12px -22px 0 -104px rgba(255, 255, 255, 0.762), 36px -39px 0 -104px rgba(255, 255, 255, 0.761), -126px 122px 0 -104px rgba(255, 255, 255, 0.701), 92px -24px 0 -104px rgba(255, 255, 255, 0.931), 51px -47px 0 -104px rgba(255, 255, 255, 0.899), 36px -39px 0 -104px rgba(255, 255, 255, 0.991), 130px 71px 0 -104px rgba(255, 255, 255, 0.217), -74px -57px 0 -104px rgba(255, 255, 255, 0.683), 87px 56px 0 -104px rgba(255, 255, 255, 0.535), 6px -85px 0 -104px rgba(255, 255, 255, 0.487), -47px 59px 0 -104px rgba(255, 255, 255, 0.375), -103px 93px 0 -104px rgba(255, 255, 255, 0.082), 30px 118px 0 -104px rgba(255, 255, 255, 0.446), -98px 23px 0 -104px rgba(255, 255, 255, 0.578), -132px -104px 0 -104px rgba(255, 255, 255, 0.438), -137px -112px 0 -104px rgba(255, 255, 255, 0.564), -143px -105px 0 -104px rgba(255, 255, 255, 0.608), -138px 118px 0 -104px rgba(255, 255, 255, 0.058), -86px -45px 0 -104px rgba(255, 255, 255, 0.223), -59px 29px 0 -104px rgba(255, 255, 255, 0.216), -85px -131px 0 -104px rgba(255, 255, 255, 0.973), -46px -7px 0 -104px rgba(255, 255, 255, 0.658), 48px 125px 0 -104px rgba(255, 255, 255, 0.545), 141px -106px 0 -104px rgba(255, 255, 255, 0.638), 101px 92px 0 -104px rgba(255, 255, 255, 0.794), -119px 14px 0 -104px rgba(255, 255, 255, 0.723), -94px 10px 0 -104px rgba(255, 255, 255, 0.124), -88px -120px 0 -104px rgba(255, 255, 255, 0.149), -7px 114px 0 -104px rgba(255, 255, 255, 0.715), -114px 60px 0 -104px rgba(255, 255, 255, 0.178), -9px -91px 0 -104px rgba(255, 255, 255, 0.955), 83px 77px 0 -104px rgba(255, 255, 255, 0.694), -99px 94px 0 -104px rgba(255, 255, 255, 0.101), 79px -62px 0 -104px rgba(255, 255, 255, 0.286), 45px 55px 0 -104px rgba(255, 255, 255, 0.473), 143px 18px 0 -104px rgba(255, 255, 255, 0.054), -73px -115px 0 -104px rgba(255, 255, 255, 0.32), 132px 132px 0 -104px rgba(255, 255, 255, 0.86), -123px 71px 0 -104px rgba(255, 255, 255, 0.548), 7px -65px 0 -104px rgba(255, 255, 255, 0.032), -82px -84px 0 -104px rgba(255, 255, 255, 0.171), -32px -119px 0 -104px rgba(255, 255, 255, 0.059), -20px 75px 0 -104px rgba(255, 255, 255, 0.719), 106px 132px 0 -104px rgba(255, 255, 255, 0.131), -55px 98px 0 -104px rgba(255, 255, 255, 0.751), -28px 35px 0 -104px rgba(255, 255, 255, 0.762), -71px 10px 0 -104px rgba(255, 255, 255, 0.104), 84px -75px 0 -104px rgba(255, 255, 255, 0.223), 93px 74px 0 -104px rgba(255, 255, 255, 0.305), -22px 104px 0 -104px rgba(255, 255, 255, 0.887), 55px -88px 0 -104px rgba(255, 255, 255, 0.646), 66px -114px 0 -104px rgba(255, 255, 255, 0.999), 2px -10px 0 -104px rgba(255, 255, 255, 0.508), 66px -131px 0 -104px rgba(255, 255, 255, 0.476), 40px 138px 0 -104px rgba(255, 255, 255, 0.283), -49px -27px 0 -104px rgba(255, 255, 255, 0.466), 45px -118px 0 -104px rgba(255, 255, 255, 0.602), -38px 96px 0 -104px rgba(255, 255, 255, 0.491), 119px -61px 0 -104px rgba(255, 255, 255, 0.303), 4px 53px 0 -104px rgba(255, 255, 255, 0.79), -79px -42px 0 -104px rgba(255, 255, 255, 0.795), -97px -113px 0 -104px rgba(255, 255, 255, 0.896), 0px -3px 0 -104px rgba(255, 255, 255, 0.33), 96px 50px 0 -104px rgba(255, 255, 255, 0.833), -61px -47px 0 -104px rgba(255, 255, 255, 0.455), -144px 125px 0 -104px rgba(255, 255, 255, 0.015), -18px -17px 0 -104px rgba(255, 255, 255, 0.103), 115px 82px 0 -104px rgba(255, 255, 255, 0.488), 103px 111px 0 -104px rgba(255, 255, 255, 0.269), 113px -67px 0 -104px rgba(255, 255, 255, 0.634), -67px -63px 0 -104px rgba(255, 255, 255, 0.98), 11px 33px 0 -104px rgba(255, 255, 255, 0.798), 140px 46px 0 -104px rgba(255, 255, 255, 0.681), -100px -130px 0 -104px rgba(255, 255, 255, 0.085), 100px 63px 0 -104px rgba(255, 255, 255, 0.762), 125px -13px 0 -104px rgba(255, 255, 255, 0.675), 52px 74px 0 -104px rgba(255, 255, 255, 0.964), -143px -78px 0 -104px rgba(255, 255, 255, 0.053), -14px 15px 0 -104px rgba(255, 255, 255, 0.253), -85px -142px 0 -104px rgba(255, 255, 255, 0.743), -95px 19px 0 -104px rgba(255, 255, 255, 0.115), -34px -97px 0 -104px rgba(255, 255, 255, 0.785), 76px -128px 0 -104px rgba(255, 255, 255, 0.287), -97px -59px 0 -104px rgba(255, 255, 255, 0.283), -134px -134px 0 -104px rgba(255, 255, 255, 0.934), 89px 59px 0 -104px rgba(255, 255, 255, 0.763), 20px -111px 0 -104px rgba(255, 255, 255, 0.689), -27px -16px 0 -104px rgba(255, 255, 255, 0.556), 119px 55px 0 -104px rgba(255, 255, 255, 0.663), 55px -96px 0 -104px rgba(255, 255, 255, 0.048), 83px 112px 0 -104px rgba(255, 255, 255, 0.691), 15px 93px 0 -104px rgba(255, 255, 255, 0.935), 39px -12px 0 -104px rgba(255, 255, 255, 0.585), -135px -61px 0 -104px rgba(255, 255, 255, 0.885), -56px 41px 0 -104px rgba(255, 255, 255, 0.536), -11px -105px 0 -104px rgba(255, 255, 255, 0.869), -74px 1px 0 -104px rgba(255, 255, 255, 0.696), -111px -45px 0 -104px rgba(255, 255, 255, 0.468), 61px -105px 0 -104px rgba(255, 255, 255, 0.276), -106px 43px 0 -104px rgba(255, 255, 255, 0.885), -134px 35px 0 -104px rgba(255, 255, 255, 0.721), 37px 143px 0 -104px rgba(255, 255, 255, 0.444), -103px -28px 0 -104px rgba(255, 255, 255, 0.835), 23px -115px 0 -104px rgba(255, 255, 255, 0.661), -14px -37px 0 -104px rgba(255, 255, 255, 0.886), -50px -112px 0 -104px rgba(255, 255, 255, 0.634), 102px -113px 0 -104px rgba(255, 255, 255, 0.462), -133px 53px 0 -104px rgba(255, 255, 255, 0.723), 15px 117px 0 -104px rgba(255, 255, 255, 0.64), -90px 32px 0 -104px rgba(255, 255, 255, 0.857), 118px 81px 0 -104px rgba(255, 255, 255, 0.261), 102px 54px 0 -104px rgba(255, 255, 255, 0.43), 100px 76px 0 -104px rgba(255, 255, 255, 0.245), 119px 107px 0 -104px rgba(255, 255, 255, 0.81), -135px -76px 0 -104px rgba(255, 255, 255, 0.276), -110px 6px 0 -104px rgba(255, 255, 255, 0.921), 72px 96px 0 -104px rgba(255, 255, 255, 0.943), 107px 135px 0 -104px rgba(255, 255, 255, 0.412), -131px -140px 0 -104px rgba(255, 255, 255, 0.545), -128px -127px 0 -104px rgba(255, 255, 255, 0.674), -117px 137px 0 -104px rgba(255, 255, 255, 0.507), 4px -131px 0 -104px rgba(255, 255, 255, 0.191), 43px -25px 0 -104px rgba(255, 255, 255, 0.475), 72px 101px 0 -104px rgba(255, 255, 255, 0.12), 127px -106px 0 -104px rgba(255, 255, 255, 0.924), 67px 140px 0 -104px rgba(255, 255, 255, 0.759), -93px -86px 0 -104px rgba(255, 255, 255, 0.917), 2px -51px 0 -104px rgba(255, 255, 255, 0.063), 40px 33px 0 -104px rgba(255, 255, 255, 0.985), -109px -113px 0 -104px rgba(255, 255, 255, 0.888), -7px -36px 0 -104px rgba(255, 255, 255, 0.524), -144px 80px 0 -104px rgba(255, 255, 255, 0.164), 51px -79px 0 -104px rgba(255, 255, 255, 0.546), 68px -78px 0 -104px rgba(255, 255, 255, 0.487), -126px 11px 0 -104px rgba(255, 255, 255, 0.602), -37px 103px 0 -104px rgba(255, 255, 255, 0.143), -64px 56px 0 -104px rgba(255, 255, 255, 0.149), 9px -8px 0 -104px rgba(255, 255, 255, 0.705), 84px 75px 0 -104px rgba(255, 255, 255, 0.025), -121px 80px 0 -104px rgba(255, 255, 255, 0.504), 138px -83px 0 -104px rgba(255, 255, 255, 0.488), -66px -62px 0 -104px rgba(255, 255, 255, 0.921), 135px -56px 0 -104px rgba(255, 255, 255, 0.041), -69px -100px 0 -104px rgba(255, 255, 255, 0.978), 4px 11px 0 -104px rgba(255, 255, 255, 0.867), 117px 83px 0 -104px rgba(255, 255, 255, 0.361), -49px -63px 0 -104px rgba(255, 255, 255, 0.119), -79px 51px 0 -104px rgba(255, 255, 255, 0.623), -15px 77px 0 -104px rgba(255, 255, 255, 0.442), 69px -137px 0 -104px rgba(255, 255, 255, 0.804), 106px 84px 0 -104px rgba(255, 255, 255, 0.764), 35px 119px 0 -104px rgba(255, 255, 255, 0.505), 12px -34px 0 -104px rgba(255, 255, 255, 0.45), -59px -116px 0 -104px rgba(255, 255, 255, 0.531), -101px -89px 0 -104px rgba(255, 255, 255, 0.501), -76px -23px 0 -104px rgba(255, 255, 255, 0.965), 32px 117px 0 -104px rgba(255, 255, 255, 0.203), -93px 108px 0 -104px rgba(255, 255, 255, 0.7), 15px 144px 0 -104px rgba(255, 255, 255, 0.579), 95px 12px 0 -104px rgba(255, 255, 255, 0.309), -136px 101px 0 -104px rgba(255, 255, 255, 0.564), -142px -45px 0 -104px rgba(255, 255, 255, 0.202), -11px -54px 0 -104px rgba(255, 255, 255, 0.115), -105px 126px 0 -104px rgba(255, 255, 255, 0.933), 100px -107px 0 -104px rgba(255, 255, 255, 0.103), 79px 7px 0 -104px rgba(255, 255, 255, 0.208), 111px 14px 0 -104px rgba(255, 255, 255, 0.275), 31px 42px 0 -104px rgba(255, 255, 255, 0.623), -109px 60px 0 -104px rgba(255, 255, 255, 0.869), 107px 47px 0 -104px rgba(255, 255, 255, 0.903), -94px -88px 0 -104px rgba(255, 255, 255, 0.86), 37px -7px 0 -104px rgba(255, 255, 255, 0.809), -51px 9px 0 -104px rgba(255, 255, 255, 0.274), 110px 125px 0 -104px rgba(255, 255, 255, 0.966), -19px 48px 0 -104px rgba(255, 255, 255, 0.185), 114px -138px 0 -104px rgba(255, 255, 255, 0.73), -60px -69px 0 -104px rgba(255, 255, 255, 0.136), 113px 125px 0 -104px rgba(255, 255, 255, 0.966), 140px 13px 0 -104px rgba(255, 255, 255, 0.505), -98px -76px 0 -104px rgba(255, 255, 255, 0.081), -35px -91px 0 -104px rgba(255, 255, 255, 0.879), -119px 136px 0 -104px rgba(255, 255, 255, 0.352), 137px 65px 0 -104px rgba(255, 255, 255, 0.002), 14px 23px 0 -104px rgba(255, 255, 255, 0.114), 134px 53px 0 -104px rgba(255, 255, 255, 0.302), 86px -91px 0 -104px rgba(255, 255, 255, 0.333), -33px 30px 0 -104px rgba(255, 255, 255, 0.497), -116px 136px 0 -104px rgba(255, 255, 255, 0.697), -128px -39px 0 -104px rgba(255, 255, 255, 0.581), -83px 118px 0 -104px rgba(255, 255, 255, 0.118), -104px -15px 0 -104px rgba(255, 255, 255, 0.544), -60px 124px 0 -104px rgba(255, 255, 255, 0.075), 56px 131px 0 -104px rgba(255, 255, 255, 0.454), -30px 118px 0 -104px rgba(255, 255, 255, 0.966), 71px 142px 0 -104px rgba(255, 255, 255, 0.412), 5px 125px 0 -104px rgba(255, 255, 255, 0.301), 124px -95px 0 -104px rgba(255, 255, 255, 0.359), 64px -49px 0 -104px rgba(255, 255, 255, 0.26), 31px -54px 0 -104px rgba(255, 255, 255, 0.751), -54px -98px 0 -104px rgba(255, 255, 255, 0.588), 44px 105px 0 -104px rgba(255, 255, 255, 0.042), -35px 48px 0 -104px rgba(255, 255, 255, 0.486), -99px -119px 0 -104px rgba(255, 255, 255, 0.138), 121px 102px 0 -104px rgba(255, 255, 255, 0.97), 134px -113px 0 -104px rgba(255, 255, 255, 0.455), -40px 59px 0 -104px rgba(255, 255, 255, 0.031), -114px -141px 0 -104px rgba(255, 255, 255, 0.379), 51px -8px 0 -104px rgba(255, 255, 255, 0.488), 3px 1px 0 -104px rgba(255, 255, 255, 0.562), -66px -49px 0 -104px rgba(255, 255, 255, 0.156), -136px -98px 0 -104px rgba(255, 255, 255, 0.543), 113px -45px 0 -104px rgba(255, 255, 255, 0.55), -3px -17px 0 -104px rgba(255, 255, 255, 0.351), -91px 48px 0 -104px rgba(255, 255, 255, 0.862), 135px 82px 0 -104px rgba(255, 255, 255, 0.503), 43px -31px 0 -104px rgba(255, 255, 255, 0.981), -131px 133px 0 -104px rgba(255, 255, 255, 0.898), -28px 55px 0 -104px rgba(255, 255, 255, 0.809), -117px -132px 0 -104px rgba(255, 255, 255, 0.644), -138px 132px 0 -104px rgba(255, 255, 255, 0.008), 92px -43px 0 -104px rgba(255, 255, 255, 0.505), 99px 83px 0 -104px rgba(255, 255, 255, 0.351), 92px 47px 0 -104px rgba(255, 255, 255, 0.399), -89px 18px 0 -104px rgba(255, 255, 255, 0.439), -113px 137px 0 -104px rgba(255, 255, 255, 0.735), -53px -92px 0 -104px rgba(255, 255, 255, 0.005), 55px -97px 0 -104px rgba(255, 255, 255, 0.998), 17px -111px 0 -104px rgba(255, 255, 255, 0.138), -136px -84px 0 -104px rgba(255, 255, 255, 0.859), -50px 47px 0 -104px rgba(255, 255, 255, 0.113), -74px 145px 0 -104px rgba(255, 255, 255, 0.369), -121px -84px 0 -104px rgba(255, 255, 255, 0.496), 11px 120px 0 -104px rgba(255, 255, 255, 0.58), 6px 32px 0 -104px rgba(255, 255, 255, 0.368), 112px -23px 0 -104px rgba(255, 255, 255, 0.292), -20px -18px 0 -104px rgba(255, 255, 255, 0.475), -8px -126px 0 -104px rgba(255, 255, 255, 0.622), 77px 10px 0 -104px rgba(255, 255, 255, 0.875), -139px -114px 0 -104px rgba(255, 255, 255, 0.234), -44px -13px 0 -104px rgba(255, 255, 255, 0.061), -2px 86px 0 -104px rgba(255, 255, 255, 0.041), 88px -63px 0 -104px rgba(255, 255, 255, 0.368), 70px 14px 0 -104px rgba(255, 255, 255, 0.044), -141px 24px 0 -104px rgba(255, 255, 255, 0.631), -27px 40px 0 -104px rgba(255, 255, 255, 0.894), -27px -126px 0 -104px rgba(255, 255, 255, 0.007), 20px 9px 0 -104px rgba(255, 255, 255, 0.985), 52px -86px 0 -104px rgba(255, 255, 255, 0.774), 137px -65px 0 -104px rgba(255, 255, 255, 0.116), -83px 15px 0 -104px rgba(255, 255, 255, 0.61), 141px 59px 0 -104px rgba(255, 255, 255, 0.752), 92px -73px 0 -104px rgba(255, 255, 255, 0.26), -89px -119px 0 -104px rgba(255, 255, 255, 0.671), -27px -143px 0 -104px rgba(255, 255, 255, 0.906), -85px 124px 0 -104px rgba(255, 255, 255, 0.9), 127px 26px 0 -104px rgba(255, 255, 255, 0.524), 47px 131px 0 -104px rgba(255, 255, 255, 0.692), 13px -62px 0 -104px rgba(255, 255, 255, 0.912), -16px -39px 0 -104px rgba(255, 255, 255, 0.951), -14px 75px 0 -104px rgba(255, 255, 255, 0.846), 21px -1px 0 -104px rgba(255, 255, 255, 0.566), 25px -115px 0 -104px rgba(255, 255, 255, 0.086), -33px -69px 0 -104px rgba(255, 255, 255, 0.543), 19px -77px 0 -104px rgba(255, 255, 255, 0.476), -123px -84px 0 -104px rgba(255, 255, 255, 0.645), 136px -135px 0 -104px rgba(255, 255, 255, 0.394), 106px -51px 0 -104px rgba(255, 255, 255, 0.252), 89px -1px 0 -104px rgba(255, 255, 255, 0.471), 100px -56px 0 -104px rgba(255, 255, 255, 0.95), 125px -6px 0 -104px rgba(255, 255, 255, 0.791), 38px 107px 0 -104px rgba(255, 255, 255, 0.417), 82px -98px 0 -104px rgba(255, 255, 255, 0.323), -31px 37px 0 -104px rgba(255, 255, 255, 0.215), -19px -39px 0 -104px rgba(255, 255, 255, 0.745), -38px 9px 0 -104px rgba(255, 255, 255, 0.413), -105px -55px 0 -104px rgba(255, 255, 255, 0.374), -123px -59px 0 -104px rgba(255, 255, 255, 0.839), 8px 123px 0 -104px rgba(255, 255, 255, 0.541), 47px 104px 0 -104px rgba(255, 255, 255, 0.878), -49px -143px 0 -104px rgba(255, 255, 255, 0.95), -115px 122px 0 -104px rgba(255, 255, 255, 0.697), -122px 133px 0 -104px rgba(255, 255, 255, 0.083), 15px 40px 0 -104px rgba(255, 255, 255, 0.373), -89px 68px 0 -104px rgba(255, 255, 255, 0.911), -125px 77px 0 -104px rgba(255, 255, 255, 0.667), 15px -76px 0 -104px rgba(255, 255, 255, 0.785), 30px -90px 0 -104px rgba(255, 255, 255, 0.633), 117px 70px 0 -104px rgba(255, 255, 255, 0.034), -139px -144px 0 -104px rgba(255, 255, 255, 0.887), 65px 122px 0 -104px rgba(255, 255, 255, 0.78), -31px -129px 0 -104px rgba(255, 255, 255, 0.279), 29px 44px 0 -104px rgba(255, 255, 255, 0.365), -131px 37px 0 -104px rgba(255, 255, 255, 0.362), 76px 122px 0 -104px rgba(255, 255, 255, 0.175), 59px -36px 0 -104px rgba(255, 255, 255, 0.296), 55px 5px 0 -104px rgba(255, 255, 255, 0.398), 136px -46px 0 -104px rgba(255, 255, 255, 0.779), 17px -88px 0 -104px rgba(255, 255, 255, 0.97), 81px -109px 0 -104px rgba(255, 255, 255, 0.632), -93px -144px 0 -104px rgba(255, 255, 255, 0.052), 67px -94px 0 -104px rgba(255, 255, 255, 0.693), -81px 14px 0 -104px rgba(255, 255, 255, 0.097), -117px 9px 0 -104px rgba(255, 255, 255, 0.673), 115px -46px 0 -104px rgba(255, 255, 255, 0.624), -1px 37px 0 -104px rgba(255, 255, 255, 0.591), -29px -27px 0 -104px rgba(255, 255, 255, 0.973), 130px -87px 0 -104px rgba(255, 255, 255, 0.169), -28px -24px 0 -104px rgba(255, 255, 255, 0.791), 70px -24px 0 -104px rgba(255, 255, 255, 0.193), -121px -8px 0 -104px rgba(255, 255, 255, 0.482), 143px -123px 0 -104px rgba(255, 255, 255, 0.984), -119px 102px 0 -104px rgba(255, 255, 255, 0.868), 132px -91px 0 -104px rgba(255, 255, 255, 0.628), 46px 43px 0 -104px rgba(255, 255, 255, 0.225), 101px -69px 0 -104px rgba(255, 255, 255, 0.407), 29px 65px 0 -104px rgba(255, 255, 255, 0.515), 132px -15px 0 -104px rgba(255, 255, 255, 0.207), -51px 136px 0 -104px rgba(255, 255, 255, 0.39), -115px -30px 0 -104px rgba(255, 255, 255, 0.23), 108px 120px 0 -104px rgba(255, 255, 255, 0.612), -113px 87px 0 -104px rgba(255, 255, 255, 0.216);
}

#actions-element .pluto {
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  -webkit-animation: orb 7439.7074054575s linear infinite;
  animation: orb 7439.7074054575s linear infinite;
}

#actions-element .pluto:before {
  height: 3px;
  width: 3px;
  background: #fff;
  margin-top: -1.5px;
  margin-left: -1.5px;
}

#actions-element .hide {
  display: none;
}

#actions-element .links {
  margin-top: 5px !important;
  font-size: 1em !important;
}

@-webkit-keyframes orb {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}